header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 10px rgb(159, 159, 159);
    .wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .headerLogoWrapper{
            .headerLogo{
                width: 168px;
                height: 43px;
            }
        }
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            height: 100%;
            ul{
                display: flex;
                
                li{
                    a{ 
                        padding: 17px;
                        display: block;
                        transition: all .3s;
                        &:hover{
                            background-color: #00000083;
                        }
                    }
                }
            }
            
        }
    }
    
}
