@import "../var/var";
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    @include text_style_1("MariupolR", 400, 19px);
    color: #000;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 10px rgb(159, 159, 159);
    .hdr{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .headerLogoWrapper{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .headerLogo{
                width: 135px;
                height: 22px;
            }
        }
        .navCont{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60%;
            height: 100%;
            .navSSect{
                position: relative;
    
                    .signInShowBtn{
                        height: 70px;
                        padding-left: 20px;
                        padding-right: 20px;
                        &:hover{
                            background-color: #00000083;
                        }
                    }
                
                .menuProf{
                    width: 100%;
                    
                
                    
                    position: absolute;
                    bottom: -139px;
                    left: 0;
                    
                    
                    ul{
                        background-color:#EBEAEA;
                        align-items: center;
                        justify-content: space-around;
                        height: 139px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        li{
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            margin: 4px;
                            
                            button{
                                
                                width: 100%;
                                height: 100%;
                                align-items: center;
                                background-color:#D9D9D9;
                                &:hover{
                                    background-color: grey;
                                }
                            }
                        }
                    }
                }
                display: flex;
                align-items: center;
                justify-content: center;
                
                .imgLink{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                    cursor: pointer;
                
                    padding: 17.5px;
                   
                    .profPictH{
                    border-radius: 100%;
                    height: 35px;
                    width: 35px;
                    
                    }
                    .textProfImg{
                        width: 35px;
                        height: 35px;
                        background-color: #8448F1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                    }
                    .nameContH{
                        text-overflow: ellipsis;
                        max-width: 90px;
 
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                li{
                    a{ 
                        padding: 21px;
                        display: block;
                        transition: all .3s;
                        &:hover{
                            background-color: #00000083;
                        }
                    }
                }
                
            }
            .navFSect{
                display: flex;
                li{
                    cursor: pointer;
                    a{ 
                        padding: 21px;
                        display: block;
                        transition: all .3s;
                        &:hover{
                            background-color: #00000083;
                        }
                    }
                   
                }
            }
            
        }
    }
    
}
.contSignInPop:hover .signInPopPupCont{
    display: flex;
}
.signInPopPupCont{
    position: absolute;
    background-color: white;
    
    flex-direction: column;
    width: 281px;
    padding: 15px;
    gap: 10px;
    align-items: center;
    display: none;
    button{
        @include button_type_1(201px, 54px, 20px)
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        label{
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 10px;
            input{
                padding-left: 10px;
                outline: none;
                width: 170px;
                height: 34px;
                background-color: #C8C7C7;
                border: 2px solid #D952FC;
            }
        }
        div{
            width: 100%;
            display: flex;
            justify-content: end;
            button{
                @include button_type_1(127px, 30px ,20px)
            }
        }
    }
    
}