@import "../var/var";

.aboutComp{
    
    width: 100%;
    height: 100vh; 
    position: relative; 
        .bgAboutCont{
            z-index: 1;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .aboutText{
            z-index: 1;
            position: absolute;
            top: 15%;
            width: 100%;
            height: 100%;
            
            article{
                position: relative;
                max-width: 1170px;
                margin: 0 auto;
                padding-left: 10px;
                padding-left: 10px;
                .carSharingH1{
                    font-family:'Open Sans';
                    font-weight: 200;
                    font-size: 16px;
                }
                .deltaTextH1{
                    
                    @include text_style_1("Conthrax", 600,128px);
                }
                .purposeTextH1{
                    @include text_style_1("Poppins", 500,16px);
                  
                    max-width: 500px;
                }
                div {
                    .chooseCar{
                        @include button_type_1(209px, 57px, 30px);
                        @include text_style_1("MariupolM", 400,16px)
                       
                    }

                    .info{
                        @include button_type_3(209px, 57px, 30px);
                        @include text_style_1("MariupolM", 400,16px)
                    }
                }
                
            }
            
        }
}