
@import "../var/var";
.usrRoadInf{
    
    padding-top: 50px;
    display: grid;
    height: 93vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 20px;
        left: 0;
        
    }
    .ratingCont{
        grid-row-start: 1;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .reit{
            height: 350px;
            width: 350px;
        }
        p{
            @include text_style_1("Conthrax", 600, 23px);
            
        }
    }
    .shortAb{
        display: flex;
        flex-direction: row;
        gap: 20px;
        .profPict{
            height: 137px;
            width: 137px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            @include text_style_1("MariupolM", 500, 20px);
            padding: 16px;
            text-align: center;
            
        }
        p{
            @include text_style_1("MariupolM", 600, 40px);
        }
    }
    .roadsButts{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: end;

        gap: 30px;
        button{
            color: white;
            width: 397px;
            height: 40px;
            border-radius: 30px;
            background-color: #D952FC;
            box-shadow: 0 0 5px grey;
            transition: all .2s;
            @include text_style_1("MariupolM", 500, 30px);
            &:hover{
                box-shadow: none;
                transform: scale(0.97);
            }
        }
    }
    
}
.infAbUser{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 1px;
        left: 0;
        
    }
    .infTxtCont1{
        @include text_style_1("Conthrax", 600, 30px);
    }
    .initInfCont{
        display: grid;
        height: 77vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 55px;
        div{
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            display: flex;
            justify-content: end;

            .updateButProf{
                @include button_2(#D952FC,20px, 168px, 50px);
                
                @include text_style_1("FixelMI", 500, 22px);
                color: white;
                box-shadow: 0 0 5px grey;
                transition: all .2s;
                &:hover{
                    box-shadow: none;
                    transform: scale(0.97);
                }


            }
        }
        
        label{
            @include text_style_1("FixelMI", 500, 22px);
            text-align: right;
            color: #666666;
        }
        p{
            @include text_style_1("FixelMI", 500, 22px);
        }
        
    }
}