@import '../components/registrationForm', "../components/imgPopup", "../components/emVerPopPup";
.regFormCont{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}